{% extends 'mobile/base.html' %}
{% block title %}Contact{% endblock %}
{% block styles %}{% endblock %}
{% block header %}
<div data-role="header">
	<h1>Contact</h1>
</div>
{% endblock %}
{% block content %}
<ul>
	<li class="module hero">
		<h1>Contact</h1>
		<img src="{{ CY_MEDIA_URL }}cydotcom/images/avatars/avatarCYAP1.png" alt="buzzyapyear avatar" border="0" />
		<img src="{{ CY_MEDIA_URL }}cydotcom/images/contact/buzzE.png" alt="buzzyapyear gmail" border="0" />
	</li>
</ul>
{% endblock %}
{% block footerNav %}
	<!--<div data-role="navbar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/resume/">Resum&#233;</a></li>
			<li><a href="/work/">Work</a></li>
			<li><a href="/music/">Music</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</div>-->
{% endblock %}
{% block jsSRC %}{% endblock %}
{% block js %}

{% endblock %}