{% extends 'mobile/base.html' %}
{% block title %}Home{% endblock %}
{% block styles %}{% endblock %}
{% block header %}
	<div id="header">
		<div id="masthead">
			<h1>Christopher S. Yap</h1>
			<h2>Designer, Developer, Musician</h2>
			<h3>VERSION 3.1 Mobile</h3>
		</div>
	</div>	
{% endblock %}
{% block content %}
	<ul>
		<li class="module hero">
			<h1>Hello.</h1>
			<p>I am a San Francisco-based <a href="/work/">designer and developer</a>, working primarily in web technologies.  I've been at it since 1999 and have loved almost every minute of it.</p>
			<p>I am also a lifelong musician, and have worked with a variety of mediums.  I have experience in classical music, having studied the violin for 20 years and the piano for 12 years.  Since 1996 I've also been a <a href="/music/">DJ</a> working with electronic music.  I have also worked on a variety of <a href="/music/">original productions and projects</a>.
		</li>
	</ul>
	<ul data-role="listview" data-inset="true" data-theme="a" data-dividertheme="a">
		<li data-role="list-divider">Navigate</li>
		<li><a href="/resume/">Resum&#233;</a></li>
		<li><a href="/work/">Work</a></li>
		<li><a href="/music/">Music</a></li>
		<li><a href="/contact/">Contact</a></li>
	</ul>

	<div id="flickrContainer" data-collapsed="true" data-role="collapsible">
		<h4>Flickr</h4>
		<ul class="clearfix"></ul>
	</div>
	<div id="tumblrContainer" data-collapsed="true" data-role="collapsible">
		<h4>Tumblr</h4>
		<ul{% if isMobile %}{% ifequal mobileType 'tablet' %} class="clearfix"{% endifequal %}{% endif %}></ul>
	</div>
{% endblock %}
{% block jsSRC %}{% endblock %}
{% block js %}
	var flickrOptions = {
		'itemsToShow': 6,
		'flickrSize': 'Small',
		'imgSize': 112
	};
    cyc.embedFlickr(flickrOptions);
    cyc.embedTumblr();
{% endblock %}