<head>
    <title>Noe Valley Nursery School | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The online portfolio of Chris Yap." />
    <meta name="keywords" content="Chris Yap, Christopher Yap, software engineer, software engineering, web developer, website design, interactive design, interaction design, web designer, html, css, javascript, angular, ajax, django, python, rails, ruby, php, jsp, DJ, techno, electronic music" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {% include styles.html %}
</head>