<link rel="stylesheet" type="text/css" href="/vendor/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" media="screen,projection" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
{% if page.id == 'resume' %}
    <link rel="stylesheet" type="text/css" media="screen,projection" href="/dist/css/buzz_resume.css" />
    <link rel="stylesheet" type="text/css" media="print" href="/dist/css/buzz_resume_print.css" />
{% else %}
    <link rel="stylesheet" type="text/css" href="/dist/css/buzz.css" />
{% endif %}
