<!DOCTYPE html>
<html ng-app="buzzApp">

    {% include head.html %}

    <body 
        ng-controller="ResumeCtrl" 
        ng-init="init()" 
        ng-class="{
            'scrolled': vars.scrolled
        }" 
        class="resume">

        {{ content }}

        {% include javascript.html %}
        
        <!-- BEGIN GOOGLE ANALYTICS -->
        <!--<script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-11792387-1");
                pageTracker._setDomainName(".chrisyap.com");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>-->
        <!-- END GOOGLE ANALYTICS -->
        
    </body>
</html>
