{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block styles %}{% endblock %}
{% block bodyClass %} class="contact"{% endblock %}
{% block content %}
<ul>
	<li class="module hero">
		<h1>Contact</h1>
		<img src="{{ CY_MEDIA_URL }}cydotcom/images/avatars/avatarCYAP1.png" alt="buzzyapyear avatar" border="0" />
		<img src="{{ CY_MEDIA_URL }}cydotcom/images/contact/buzzE.png" alt="buzzyapyear gmail" border="0" />
	</li>
</ul>
{% endblock %}
{% block jsSRC %}{% endblock %}
{% block js %}

{% endblock %}