
/* begin main */

body {
	font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
	padding-bottom: 40px;

	h1 {
		background: url('/img/logo/logo.png') top left no-repeat;
		background-size: 36px 36px;
		height: 36px;
		padding: 0px 0px 0px 52px;
	}

	h2 {
		border-bottom: 1px dotted #ccc;
		padding-bottom: .5em;
		text-transform: uppercase;
		font-size: 1.6em;		
	}

	h3 {
		font-size: 1.3em;
		font-weight: bold;
	}

	section {
		margin-top: 3em;

		&#experience {
			.job {
				h3 {
					.title {
						font-weight: normal;
						color: #666;
					}
				}
				
				.url {
					i.fa {
						margin-left: .25em;
					}
				}
			}
		}
	}
}
