html {
    height: 100%;
}
body {
    color: #444;
    width: 100%;
    height: 100%;
    text-align: center;

    background-repeat: no-repeat;
    background-attachment: fixed;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+20,ecf0f1+50 */
    background: rgba(236,240,241,1); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(236,240,241,1) 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(236,240,241,1) 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(236,240,241,1) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf0f1',GradientType=0 ); /* IE6-9 */

    #logo {
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-top: 0px;
        margin-left: -32px;
        width: 64px;
        font-size: 1.5em;
    }
}