
/* begin main */

body {
	font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
	padding-bottom: 40px;

	header {
		border-bottom: 1px dotted #ccc;
		padding-bottom: 20px;
		.masthead {
			background: url('/img/logo/logo.png') top left no-repeat;
			background-size: 64px 64px;
			height: 64px;
			padding: 0px 0px 0px 84px;
			h1 {
				margin-bottom: 0px;
			}
			.contact {
				li {
					display: inline-block;
					margin-left: 10px;
					&:nth-child(1) {
						margin-left: 5px;
					}
					i.fa {
						margin-right: 5px;
					}
				}
			}
			
		}
	}

	h2 {
		border-bottom: 1px dotted #ccc;
		padding-bottom: .5em;
		text-transform: uppercase;
		font-size: 1.6em;		
	}

	h3 {
		font-size: 1.3em;
		font-weight: bold;
	}

	section {
		margin-top: 30px;

		&.jobs {
			.job {
				h3 {
					.title {
						font-weight: normal;
						color: #666;
					}
				}
				
				.url {
					i.fa {
						margin-left: .25em;
					}
				}
			}

			&#ancient-history {
				.job {
					font-size: .85em;
					h3 {
						font-size: 1.1em;
					}
				}
			}
		}

		&#education {
			h2 {
				margin-bottom: 30px;
			}
		}
	}
}
