
/* Colors */
/* https://color.adobe.com/Flat-UI-color-theme-2469224/?showPublished=true */
/* https://color.adobe.com/Aspirin-C-color-theme-251864/?showPublished=true */
$brand-7: #EB7F00;
$brand-6: #ACF0F2;
$brand-5: #2C3E50;
$brand-4: #E74C3C;
$brand-3: #ECF0F1;
$brand-2: #3498DB;
$brand-1: #2980B9;

/* Basic Elements */
body {
    font-family: 'Source Sans Pro', sans-serif;
}
a {
    color: $brand-1;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        color: $brand-2;
        text-decoration: none;
    }
}
button {
    &:focus {
        outline:0;
    }
}
