

/* begin main */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

div.clearer {
	clear: both;
}

#wrapper {
	/*width:70em;
		margin:auto;*/
	text-align:left;
	/*padding: 1.4em;*/
}

a {
	color: #000000;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

a:active {
	color: #000000;
}

h1 {
	font-size: 1.4em;
	font-weight: bold;
}

h2 {
	font-size: 1em;
}	

div.module {
	margin-top: 1.4em;
	font-size: .7em;
	line-height: 1.4em;
}

h3 {
	margin: 1em 0em;
	padding: .2em 0em;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: .2em;
	font-weight: bold;
}

h4 {
	font-weight: bold;
}

img#headerLogo {
	/*float: left;
		margin-top: .4em;
		margin-right: .6em;*/
	display: none;
}

div#headerInfo {
	/*float: left;*/
}

div#headerPrint {
	/*float: right;
		text-align: center;
		font-size: .7em;
		margin-top: 1.2em;*/
	display: none;
}

div#contactInfo {
	font-size: .7em;
}

div#contactInfo a {
	text-decoration: underline;
}

ul.bullets {
	list-style: disc;
	padding-left: 2em;
	float: none;
	/*width: 90% !important;*/
}

div#skills li {
	/*float: left;
		width: 30%;
		padding-right: 1.4em;*/
	margin-bottom: 1em;
}

div#experience ul {
	margin-bottom: 1em;
	/*float: left;
		width: 30%;
		padding-right: 1.4em;*/
}

div#experience li.title {
	font-weight: bold;
}

div#experience li.url,
div#experience span.url
{
	text-decoration: underline;
}

div#experience li.description {
	margin-top: .7em;
}

div#footer {
	display: none;
}

/* end main */


