
/* begin main */

body.resume {
	font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif;
	padding-bottom: 40px;

	header {
		border-bottom: 1px dotted #ccc;
		padding-bottom: 20px;
		h1 {
			background: url('/img/logo/logo.png') top left no-repeat;
			background-size: 50px 50px;
			height: 50px;
			padding: 5px 0px 0px 70px;
			margin-bottom: 0px;
		}
	}

	h2 {
		border-bottom: 1px dotted #ccc;
		padding-bottom: .5em;
		text-transform: uppercase;
		font-size: 1.6em;
		margin-top: 30px;		
	}

	h3 {
		font-size: 1.3em;
		font-weight: bold;
		margin-top: 10px;
	}

	section {
		margin-top: 20px;

		&.jobs {
			.job {
				h3 {
					.title {
						font-weight: normal;
						color: #666;
					}
				}
				
				.url {
					i.fa {
						margin-left: .25em;
					}
				}
			}

			&#ancient-history {
				.job {
					font-size: .85em;
					h3 {
						font-size: 1.1em;
					}
				}
			}
		}

		&#contact {
			h2 {
				margin-bottom: 20px;
			}
			ul {
				li {
					display: inline-block;
					margin-left: 10px;
					&:nth-child(1) {
						margin-left: 5px;
					}
					i.fa {
						margin-right: 5px;
					}
				}
			}
		}

		&#education {
			h2 {
				margin-bottom: 20px;
			}
		}

		&#profile {
			h2 {
				margin-bottom: 20px;
			}
			.progress {
				margin-bottom: 5px;
			}
		}
	}
}
